<% include ../partials/header %>
<div class="container">
    <div class="row">
        <legend>Add new comment to <%= camp.name %></legend>
        <div id="form-log">
            <form action="/campgrounds/<%= camp._id %>/comments" method="POST">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" name = "comment[text]" placeholder="add comment" ></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" value = "submit" />
                </div>
            
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
        
    </div>
    
</div>

<% include ../partials/footer %>